
body {
    background-image: url(../images/123Street.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}


.goal-number {
	font-size: 30px;
	background-color: #F8CF9C;
	border-style: solid;
	border-color: #ddd;
	border-width: 4px;
}

.points-counter {
	background-color: #9CE7F8;
	border-style: solid;
	border-color: #ddd;
	border-width: 4px;
}

.strasse-images {
	margin-top: 10px;
	margin-bottom: 10px;
}

.total-score {
	color: white;
	background-color: #4aaaa5;
}

.score-goal {
	color: white;
	background-color: #4aaaa5;
	font-size: 30px;
}
