
body {
    background-image: url(../images/123Street.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}


.goal-number {
	font-size: 40px;
	background-color: yellowgreen;
	margin-top: 20px;
}

.points-counter {
	background-color: yellowgreen;
	margin-top: 20px;
}

.strasse-images {
	margin-top: 10px;
	margin-bottom: 10px;
	

}

.total-score {
	color: white;
	background-color: yellowgreen;
	margin-top: 10px;
}

.score-goal {
	color: white;
	background-color: yellowgreen;
	font-size: 40px;
	margin-top: 10px;
}
.panel-body{
	background-color: coral;
	font-size:medium;
	margin-top: 30px;
	margin: 120px 99px 10px 40px;

}